<p>Hi <%= firstName %>,</p>
<p>Thank you for registering with us! Please click the link below to verify your email address:</p>
<a href="<%= verificationUrl %>">Verify Email</a>
<p>If you did not register, please ignore this email.</p>
